<div class="card">
  <div class="card-header" style="border-bottom:none">
    Failures <small>(lowest pass rate)</small>
  </div>
  {% if tests %}
    <div class="list-group list-group-flush">
      {% for t in tests %}
        <a href="javascript:showTests('{{ t.test|urlencode }}', 'failures')"
           class="list-group-item list-group-item-action">
           <span class="badge badge-secondary badge-pill float-right">
             {{ (t.pass * 100)|round(0, 'floor')|int }}%
           </span>
          {{ t.test }}
        </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="card-body">
      <p class="card-text">There were no failures.</p>
    </div>
  {% endif %}
  <div class="card-footer" style="border-top:none">
    <small>
      <a href="https://activedata.allizom.org/tools/query.html#query_id={{ meta.saved_as }}"
         target="_blank" class="text-muted">
         Query ran on {{ meta.timestamp.strftime('%d %b %Y at %X') }} and took {{ meta.timing.total }} seconds.
      </a>
    </small>
  </div>
</div>
