<div class="card">
  <div class="card-header">Slowest</div>
  <div class="list-group list-group-flush">
    {% for t in tests %}
      <a href="javascript:showTests('{{ t.test|urlencode }}', 'slowest')"
         class="d-inline-block text-truncate list-group-item list-group-item-action">
        <span class="badge badge-secondary mr-sm-2">
          {{ t.duration|round|int }} seconds
        </span>
        {{ t.test }}
      </a>
    {% endfor %}
  </div>
  <div class="card-footer">
    <small>
      <a href="https://activedata.allizom.org/tools/query.html#query_id={{ meta.saved_as }}"
         target="_blank" class="text-muted">
         Query ran on {{ meta.timestamp.strftime('%d %b %Y at %X') }} and took {{ meta.timing.total }} seconds.
      </a>
    </small>
  </div>
</div>
